In [1]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
X, y = load_iris(return_X_y=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)
gnb = GaussianNB()
y_pred = gnb.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d"
      % (X_test.shape[0], (y_test != y_pred).sum()))

Number of mislabeled points out of a total 75 points : 4

In [5]:
model = gnb.fit(X_train, y_train)

In [8]:
predictions = model.predict(X_test)

In [12]:
import pandas as pd

In [16]:
pd.concat([pd.Series(predictions),pd.Series(y_test)],axis=1)

    0  1
0   2  2
1   1  1
2   0  0
3   2  2
4   0  0
.. .. ..
70  2  2
71  1  1
72  0  0
73  0  0
74  1  1

[75 rows x 2 columns]

In [18]:
from sklearn.metrics import classification_report
print(classification_report(predictions,y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        21
           1       1.00      0.88      0.94        34
           2       0.83      1.00      0.91        20

    accuracy                           0.95        75
   macro avg       0.94      0.96      0.95        75
weighted avg       0.96      0.95      0.95        75