In [1]:
# Decorators

In [31]:
def Decorator(func):
    def wrapper(x, y):
        return x + y

    return wrapper

In [ ]:
@Decorator
def Conversion(a, b):
    return float(a + b)

In [ ]:
def Decorator(func):
    def wrapper(x, y):
        return x**y

    return wrapper

In [40]:
@Decorator
def main(x, y):
    return x * y

In [53]:
class bank:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    @staticmethod
    def trial():
        return "Hello"

In [54]:
a = bank("gourav", 24)

In [ ]:
a.trial()

In [76]:
class bank:
    __city = "Chandigarh"

    def __init__(self, name, age):
        self.name = name
        self.age = age

    @staticmethod
    def trial():
        return "Hello"

In [77]:
class trial(bank):
    pass

In [78]:
class trial2(trial):
    pass

In [68]:
# Inheritance
# Constrcutor
# method
# attributes (Public)

In [79]:
a = trial("d", 10)

In [ ]:
a.city()

In [81]:
# Types of inheritance

# Single Level
# Multilevel iheritance
# Multiple Inheritance
# Hierichal Inheritance

# Hybrid Inheritance

In [ ]:
class trial3(trial, trial2): 
    # (each child has multiple parent)
    pass

In [82]:
# Heirichal Inheritance (Multiple child has same parent)

In [83]:
class t(bank):
    pass


class t2(bank):
    pass

In [84]:
# class t4(t2,bank):
#     pass

In [ ]:
""""
Summary Table
Type	Description	Example Relationship
Single Inheritance	One child, one parent	Dog inherits from Animal
Multilevel	Chain of inheritance	Dog → Mammal → Animal
Multiple	One child, multiple parents	Car inherits from Engine and Wheels
Hierarchical	Multiple children, one parent	Dog, Cat inherit from Animal
"""

In [86]:
# single

In [87]:
class parent:
    pass

In [88]:
class child(parent):
    pass

In [89]:
# Multileve

In [90]:
class child2(child):
    pass

In [91]:
# Heirichal


class child4(parent):
    pass


class child5(parent):
    pass


class child6(parent):
    pass

In [93]:
# Multiple

In [ ]:
class ch(child,parent):
    pass

In [94]:
class Bank:
    __ifsc = 1023
    __branch = "Noida"

    def __init__(self, username, accountno):
        self.username = username
        self.accountno = accountno

In [115]:
class user(Bank):
    __nme = "ABC"
    pass

In [116]:
a1 = user("ss", 2234)

In [119]:
a1._user__nme

'ABC'

In [99]:
u1 = user("abc", 234)

In [107]:
a1 = Bank("ss", 10)

In [114]:
# Private Attributes (Totally Private)
a1._Bank__ifsc = 234

In [111]:
# object._class__attribute

In [121]:
a1.__ifsc = 20

In [123]:
id(a1.__ifsc)

134952518681424

In [126]:
id(a1._Bank__ifsc)

134952120372080

In [128]:
# Aggregation

In [165]:
a1 = data("dehli", "sss")

In [161]:
# Method Overiding

In [166]:
a1.city

'Delhi'

In [168]:
# a1.name.age

In [268]:
class user:
    city = "gurgaon"

    def __init__(self, name, age):
        self.name = name
        self.age = age

    def hello(self, mobile):
        self.mobile = 91
        self.country = "India"
        return "Namaste"

In [267]:
class data(user):
    city = "CDG"

    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.country = "USA"

    def hello(self, mobile=12):
        self.mobile = 92
        self.country = "China"

In [269]:
a1 = data("ff", "gg ")

In [270]:
a1.hello()

In [272]:
a1.mobile

92

In [273]:
# Polymorphism

In [274]:
# Polymorphism
# Abstraction
# Encapsulation
# Inheritance
# Overiding
# Overloading

In [275]:
# @property

In [310]:
class data(user):
    city = "CDG"

    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.country = "USA"
        
    @property
    def hello(self):
        return self.country

    @hello.setter
    def hello(self, country):
        if country == "India":
            self.country = country
        else:
            raise ValueError("Not Allowed !!")

In [311]:
a1 = data("ddd", 33)

In [312]:
a1.hello

'USA'

In [315]:
a1.hello = "India"

In [316]:
a1.hello

'India'

In [317]:
a2 = data("ddd", 89)

In [322]:
class data(user):
    __city = "CDG"

    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.country = "USA"

    @property
    def hello(self):
        pass

    @hello.setter
    def hello(self, password):
        if password == 123:
            self.__city = "Delhi"
        else:
            raise ValueError("Not Allowed !!")

In [323]:
a2 = data("ddd", 89)

In [326]:
a2.hello = 123

In [328]:
a2._data__city

'Delhi'