In [1]:
import numpy as np

In [2]:
def sigm(x):
    return (1 / (1 + np.exp(-x)))

In [6]:
values = np.random.randint(1,1000,40)

In [9]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [12]:
df.dropna(inplace=True)

In [17]:
ml_df = df.drop(columns=['pclass','sibsp','parch','embarked','class','who','adult_male','deck','embark_town','alive'])

In [21]:
import pandas as pd
ml_df.head()

    survived     sex   age     fare  alone
1          1  female  38.0  71.2833  False
3          1  female  35.0  53.1000  False
6          0    male  54.0  51.8625   True
10         1  female   4.0  16.7000  False
11         1  female  58.0  26.5500   True

In [22]:
ml_df.dtypes

survived      int64
sex          object
age         float64
fare        float64
alone          bool
dtype: object

In [24]:
ml_df['alone'] = ml_df['alone'].replace({False:0,True:1})

/tmp/ipykernel_398327/2188053269.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ml_df['alone'] = ml_df['alone'].replace({False:0,True:1})

In [27]:
ml_df["sex"] = ml_df["sex"].replace({'female': 1, 'male': 0})

/tmp/ipykernel_398327/1879183342.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ml_df["sex"] = ml_df["sex"].replace({'female': 1, 'male': 0})

In [29]:
X = ml_df.drop(columns='survived')
Y = ml_df['survived']

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [32]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [35]:
lc = LinearRegression()
lg = LogisticRegression(max_iter=300)

In [37]:
lc_model = lc.fit(X_train,y_train)
lg_model = lg.fit(X_train,y_train)

In [44]:
pred_lc= lc_model.predict(X_test)

In [45]:
pred_lg = lg_model.predict(X_test)

In [47]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred_lg)

0.5901639344262295

In [54]:
accuracy_score(y_test,pred_lc.astype('int'))

0.47540983606557374