In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = sns.load_dataset("tips")

In [5]:
df["tip"]

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [6]:
# Binning

In [8]:
df["tip"].min(), df["tip"].max()

(np.float64(1.0), np.float64(10.0))

In [9]:
def tip_bin(x):
    if x >= 1 and x <= 3:
        return "Low Tip"
    elif x >= 3 and x <= 7:
        return "Medium Tip"
    else:
        return "High Tip"

In [11]:
df["tip_bins"] = df["tip"].apply(tip_bin)

In [12]:
df.head()

   total_bill   tip     sex smoker  day    time  size    tip_bins
0       16.99  1.01  Female     No  Sun  Dinner     2     Low Tip
1       10.34  1.66    Male     No  Sun  Dinner     3     Low Tip
2       21.01  3.50    Male     No  Sun  Dinner     3  Medium Tip
3       23.68  3.31    Male     No  Sun  Dinner     2  Medium Tip
4       24.59  3.61  Female     No  Sun  Dinner     4  Medium Tip

In [13]:
# Find the distribution of high tips according to gender

In [21]:
df.set_index("tip_bins").loc["High Tip", "sex"].value_counts()

sex
Male      3
Female    0
Name: count, dtype: int64

In [25]:
df[df["tip_bins"] == "High Tip"].groupby("tip_bins")["sex"].count()

tip_bins
High Tip    3
Name: sex, dtype: int64

In [34]:
# pd.crosstab
# df[df["tip_bins"] == "High Tip"]
pd.crosstab(
    df[df["tip_bins"] == "Medium Tip"]["tip_bins"],
    df[df["tip_bins"] == "Medium Tip"]["sex"],
    normalize="index",
) * 100

sex              Male     Female
tip_bins
Medium Tip  66.315789  33.684211