In [1]:
# map

In [2]:
d = [x for x in range(1,11)]

In [3]:
d

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
e = []
for i in d:
    e.append(i**2)
e

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
list(map(lambda x:x**2,d))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [8]:
def abc(x):
    return x**2

In [15]:
list(map(lambda x:x**3,list(map(lambda x:int(x**0.5),list(map(abc,d))))))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [18]:
lambda x:'True' if x % 2 == 0 else 'False'

In [19]:
# write a function that will square all the odd numbers in a list, if not it should return the number is not odd.

In [24]:
# list((lambda x,y,z:x+y+z,d))

In [22]:
d

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
list(map(lambda x: 'Number is Not Odd' if x % 2 == 0 else x**2,d))

[1,
 'Number is Not Odd',
 9,
 'Number is Not Odd',
 25,
 'Number is Not Odd',
 49,
 'Number is Not Odd',
 81,
 'Number is Not Odd']

In [27]:
# filter and reduce

In [28]:
d

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
# Using the filter to filter elements based on a condition  
# Lambda function returns True for an even 
list(filter(lambda x: not x % 2 == 0,d) )
  
# Using reduce to aggregate elements  
# Lambda function returns product of x and y  
# from functools import reduce  
# result3 = reduce(lambda x, y: x * y, data)  # Result: 120

[1, 3, 5, 7, 9]

In [37]:
d.append(12)

In [39]:
list(filter(lambda x:(x%4==0 and x%3==0),d))

[12]

In [40]:
# reduce

In [42]:
# reduce()
from functools import reduce

In [43]:
d

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12]

In [45]:
temp = 1
for i in d:
    temp*=i
temp

43545600

In [46]:
reduce(lambda x,y:x*y,d)

43545600

In [ ]:
# write a function that takes two numbers and returns the larger of two

In [61]:
p  = lambda x,y:x if x>y else y

In [62]:
p(int(input()),int(input()))

 10
 2

10

In [83]:
del a

In [64]:
# write a lambda function to sort a list of tuples by the second elemnet in each tuple

In [95]:
a = [(1,'a','f'),(2,'c','m'),(3,'b','l')]

In [69]:
sorted([1,3,4,2])

[1, 2, 3, 4]

In [96]:
sorted(a,key=lambda x:x[-1])

[(1, 'a', 'f'), (3, 'b', 'l'), (2, 'c', 'm')]

In [98]:
a = [(1,2,{'n':10}),(3,4,{'s':9}),(3,4,{'g':7})]

In [99]:
a

[(1, 2, {'n': 10}), (3, 4, {'s': 9}), (3, 4, {'g': 7})]

In [ ]:
# sort the a based on the value of dictionary

In [100]:
employees = [
    {'name': 'Alice', 'salary': 60000},
    {'name': 'Bob', 'salary': 45000},
    {'name': 'Charlie', 'salary': 52000},
    {'name': 'David', 'salary': 90000},
    {'name': 'Eve', 'salary': 75000}
]

In [101]:
# Filter out employees with a salary greater than 50,000 and increase their salary by 10%.

In [134]:
list(map(lambda x:(x[1]*0.1) + x[1],list(filter(lambda x:x[1]>50000,[list(x.values()) for x in employees]))))

[66000.0, 57200.0, 99000.0, 82500.0]

[{'name': 'Alice', 'salary': 60000},
 {'name': 'Bob', 'salary': 45000},
 {'name': 'Charlie', 'salary': 52000},
 {'name': 'David', 'salary': 90000},
 {'name': 'Eve', 'salary': 75000}]

In [135]:
a = 10
a = a+11

In [136]:
a

21

In [137]:
a = 12

In [138]:
a += 2

In [205]:
b = 26

In [192]:
# 26 < False
# 26 > True

In [191]:
# for i in range(26,50):
#     print((i > 25) or (((i > 10) and (i < 50)) and (i > 30 and ((i > 10) and (i > 10 and i < 20)))))

In [206]:
(b > 25) or (((b > 10) or (b < 50)) or (b > 30 or ((b > 10) or (b > 10 or b < 20))))

True

In [209]:
# for b in range(0,100):
#     print(f'{b}:{(b > 25) or (((b > 10) or (b > 50)) or (b > 30 or ((b > 10) or (b > 10 or b > 20))))}')

In [212]:
b = 23
(b > 25) or not (((b > 10) or (b < 50)) or (b > 30 or ((b > 10) or not (b > 10 or b < 20))))

False

In [218]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(y is not z)

True

In [230]:
z

['apple', 'banana']

In [231]:
a = 10

In [236]:
a > 5 | a < 11

False

In [ ]:
# and &
# or |

In [225]:
'Apple' in z

False

In [226]:
a = 'Apple'

In [237]:
'Apple' in a

TypeError: argument of type 'int' is not iterable

In [241]:
(2 + 3) ** (2 * 2)

625

In [244]:
# # a = ['Hello','World']
# del a
# if a:
#     print(True)
# else:
#     print(False)

In [245]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]

In [248]:
set(thislist)

{'apple', 'banana', 'cherry'}

In [255]:
thislist = tuple(thislist)

In [256]:
thislist[1] = 'Mango'

TypeError: 'tuple' object does not support item assignment

In [257]:
thislist

('apple', 'Mango', 'cherry', 'apple', 'cherry')

In [261]:
a = list(thislist)

In [263]:
a[2] = 'Pineapple'

In [264]:
x = 'Hello World'

In [270]:
a[1] = 'x'

In [271]:
a

['apple', 'x', 'Pineapple', 'apple', 'cherry']

In [273]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [274]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [275]:
thislist

['apple', 'watermelon']

In [276]:
thislist.append('Add this')

In [280]:
thislist.append('Add One More')

In [282]:
thislist

['apple', 'watermelon', 'Add this', 'Add One More']

In [284]:
thislist[1] = 'Cherry'

In [285]:
thislist

['apple', 'Cherry', 'Add this', 'Add One More']

In [286]:
thislist.insert(1,'Mango')

In [290]:
thislist.insert(thislist.index('Cherry'),'PineApple')

In [291]:
thislist

['apple', 'Mango', 'PineApple', 'Cherry', 'Add this', 'Add One More']

In [292]:
thislist.extend([1,2,3,4])

In [293]:
thislist

['apple',
 'Mango',
 'PineApple',
 'Cherry',
 'Add this',
 'Add One More',
 1,
 2,
 3,
 4]

In [296]:
thislist[2:6] = [1,2,3,4]

In [297]:
thislist

['apple', 'Mango', 1, 2, 3, 4, 1, 2, 3, 4]

In [1]:
# list comprehension

In [2]:
t = []
for i in range(100):
    t.append(i)

In [4]:
d = [i for i in range(100) ]

In [6]:
# make a list of even numbers from 10 - 50

In [8]:
even = [i for i in range(10,51) if i % 2 == 0 ]

In [10]:
# write a list of even number,if not print 'This number is odd'

In [12]:
d = [x if x % 2 == 0 else 'This number is not even' for x in range(10,51)]

In [ ]:
# print a list of squared odd numbers from 1 - 100

In [22]:
op = [x**2 for x in range(1,101) if x % 2 == 1]

In [23]:
op

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401,
 2601,
 2809,
 3025,
 3249,
 3481,
 3721,
 3969,
 4225,
 4489,
 4761,
 5041,
 5329,
 5625,
 5929,
 6241,
 6561,
 6889,
 7225,
 7569,
 7921,
 8281,
 8649,
 9025,
 9409,
 9801]

In [21]:
# list comprehension

In [28]:
op_copy = [x if x % 3 == 0 else 'NA' for x in op]

In [31]:
a = []
for i in op:
    if i % 3 == 0:
        a.append(i)
    else:
        a.append('NA')

In [32]:
a

['NA',
 9,
 'NA',
 'NA',
 81,
 'NA',
 'NA',
 225,
 'NA',
 'NA',
 441,
 'NA',
 'NA',
 729,
 'NA',
 'NA',
 1089,
 'NA',
 'NA',
 1521,
 'NA',
 'NA',
 2025,
 'NA',
 'NA',
 2601,
 'NA',
 'NA',
 3249,
 'NA',
 'NA',
 3969,
 'NA',
 'NA',
 4761,
 'NA',
 'NA',
 5625,
 'NA',
 'NA',
 6561,
 'NA',
 'NA',
 7569,
 'NA',
 'NA',
 8649,
 'NA',
 'NA',
 9801]

In [33]:
# list comprehension

In [42]:
a = []
for i in range(1,100):
    if i % 3 == 0:
        a.append(i)
    else:
        a.append('NA')

In [43]:
a = [x for x in range(100)]

In [49]:
[i+5 for i in range(10)]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [50]:
# write A PROGRAM TO print squared of odd numbers from 1 - 100

In [53]:
sqrd = [x**2 for x in range(100) if x % 2 != 0]

In [54]:
# if else

In [55]:
# write a program which will print 1-100 even as true and odd as false

In [57]:
dd = [True if x % 2 == 0 else False for x in range(100)]

In [37]:
# SYNTAX OF LIST COMPREHENSION
a = [x for x in range(100)]

In [39]:
# list comprehension
d = [x for x in range(100) if x % 2 == 0]

In [41]:
# if else
e = [x if x % 2 == 0 else 'This number is not even' for x in range(100)]

In [58]:
# and or if else list comprehension

In [59]:
# write a list from 1 - 100 where each number should be divisible by 3 and 7.

In [63]:
# [x for x in range(100) if ((x % 3 == 0 or x % 7 == 0) and x % 2 == 0)]

In [64]:
# given a list of strings write a list comprehensipn to create a new list of words that starts
#  a vowel and have a length greater than 5.

In [65]:
words = ['apple','banana','pear','grape','kiwi']

In [67]:
vowel = ['a','e','i','o','u']

In [69]:
'a'  in vowel

True

In [78]:
[x for x in words if x[-2] in vowel and len(x) >=5]

[]

In [ ]:
# given a list of strings write a list comprehensipn to create a new list of words that starts
#  a vowel and have a length greater than 5 and if not print not availaible.

In [80]:
[x if (x[0] in vowel and len(x) >=5) else 'Not Availaible' for x in words]

['apple',
 'Not Availaible',
 'Not Availaible',
 'Not Availaible',
 'Not Availaible']

In [ ]:
# Write a list comprehension to create a list containinig square root of even numbers and cube root of odd numbers
#  from range (1,101)
# 2 Square Root is 
# 3 Square is 6

In [82]:
# [f'{x} Square is {x**2}' if x % 2 == 0 else f'{x} Cube is {x**3}' for x in range(1,101)]

In [18]:
a = [i**2 if i%2 == 0 else 'not applicable' for i in range(100)]

In [23]:
# [x for x in ['Gourav' if x == 'not applicable' else x for x in 
# [i**2 if i%2 == 0 else 'not applicable' for i in range(100)]] if x == 'Gourav']

In [22]:
# Question 2: Nested List Transformation

# write a list comprehension to flatten the matrix into a single list and square the even and sqaure root the odd.
# using math library

In [65]:
matrix = [[[[[[1, 2, 3], [4, 5, 6], [7, 8, 9]]]]]]

In [51]:
# [c for x in matrix for c in x if c % 2 == 0]

In [54]:
import math as mth

In [68]:
[f**2 if f % 2 == 0 else mth.factorial(f) for x in matrix for c in x for d in c for e in d for r in e for f in r]

[1, 4, 6, 16, 120, 36, 5040, 64, 362880]

In [69]:
# aditya renu piyush abhay varun gagan

In [70]:
# **kwargs

In [71]:
# args 
# *args -> Positonal vairable argument
# **kwargs -> non positional keyword variable argument

In [85]:
def MyData(*y,**z):
    return y,z

In [87]:
MyData(10,11,12,13,name='gourav',age=23)

((10, 11, 12, 13), {'name': 'gourav', 'age': 23})

In [88]:
# Write a Python function order_summary that accepts the following arguments:

#     A mandatory argument customer_name (the name of the customer).
#     Any number of additional positional arguments (*args) representing the items ordered.
#     Any number of keyword arguments (**kwargs) representing additional details about the order, such as table_number, waiter_name, etc.

# The function should:

#     Print the customer's name.
#     Print the list of items ordered (from *args).
#     Print the additional details (from **kwargs) in a user-friendly way.

In [89]:
# order_summary(
#     "John Doe", 
#     "Pizza", "Pasta", "Coke", 
#     table_number=5, waiter_name="Alice", special_request="Extra cheese"
# )

In [107]:
def order_summary(name,*items,**special_items):
    """
    Args:
        name: Name of the user
    *Args:
        items: Items Ordered
    **Kwargs:
        special_items: Special Wishes (table_number, waiter_name,special_request)
    """
    if ('table_number' in special_items.keys() and 'waiter_name' in special_items.keys() and 'special_request' in special_items.keys()):
        print(special_items.keys())
        return f'Hey {name} your order items are {items} and Special Items are {special_items.values()}'
    else:
        raise Exception('Please enter only the provided keyword arguments')

In [109]:
order_summary('Gourav','burger','pizza',table_number = 10,waiter_name='naman',special_request = 'Moonlight',cold_drink = 'Coke')

dict_keys(['table_number', 'waiter_name', 'special_request', 'cold_drink'])

"Hey Gourav your order items are ('burger', 'pizza') and Special Items are dict_values([10, 'naman', 'Moonlight', 'Coke'])"

In [142]:
def order_summary(name, *items, **special_items):
    """
    Args:
        name: Name of the user
    *items:
        items: Items Ordered
    **special_items:
        special_items: Special Wishes (table_number, waiter_name, special_request)
    """
    return "".join(name),",".join(items),list(special_items.values())


order_summary("John Doe", "Pizza", "Pasta", "Coke", table_number=5, waiter_name="Alice", special_request="Extra cheese")

('John Doe', 'Pizza,Pasta,Coke', [5, 'Alice', 'Extra cheese'])

In [133]:
" ".join(('Pizza', 'Pasta', 'Coke'))

'Pizza Pasta Coke'

In [162]:
def abc():
    a = eval(input())
    return type(a)

In [161]:
# Question: Library Book Management

# Write a function library_management that accepts the following arguments:

#     A mandatory argument librarian_name (the name of the librarian managing the books).
#     Any number of books as positional arguments (*books) where each book is represented by its title.
#     Any number of additional details as keyword arguments (**details) such as:
#         genre: The genre of the books.
#         total_books: Total number of books.
#         section: The section where these books are located.

# The function should:

#     Print the librarian's name.
#     Print the list of books.
#     Print the additional details, 

# ensuring that only the allowed keyword arguments (genre, total_books, section) are accepted.

# If invalid keyword arguments are provided, the function should raise an exception with a descriptive error message.

In [170]:
def Library_Management(name,*books,**details):
    allowed_keys = {'genre','total_books','section'}
    if set(details.keys()).issubset(allowed_keys):
        return name,books,details
    else:
        raise Exception(f'{set(details.keys() - allowed_keys)}These keys are not allowed')

In [174]:
# Library_Management('Gourav','Einstein','Musk','Protocols',genre='finance',total_books=12,section=2,author='djdh')

In [175]:
# Question 2: Nested List Transformation
# matrix = [[1,2,3],[3,4,5],[6,7,8]]
# write a list comprehension to flatten the matrix into a single list and find the even

In [188]:
matrix = [[[[[[1,2,3],[3,4,5],[6,7,8]]]]]]

matrix

[[[[[[1, 2, 3], [3, 4, 5], [6, 7, 8]]]]]]

In [195]:
[l**3 if l % 2 == 0 else l**2 for x in matrix for j in x for k in j for d in k for c in d for l in c]

[1, 8, 9, 9, 64, 25, 216, 49, 512]

In [ ]:
# simar arnav sandee