In [46]:
password = 'hello'
ct = 0
avl = 3
while True:
    a = input('Enter the Password')
    ct +=1
    avl -=1
    if a.casefold() == 'hello':
        print('Access Granted')
        break
    else:
        if ct == 3:
            print('Too Many Attempts')
            break
        else:
            print(f'Wrong Password Availaible attempts {avl}')

Enter the Password 3

Wrong Password Availaible attempts 2

Enter the Password f

Wrong Password Availaible attempts 1

Enter the Password h

Too Many Attempts

In [48]:
# aditya anjali renu piyush gagan varun abhay gurmmet

In [52]:
# Write a function to rotate an array to the right by k steps. 
# For example, if the input array is [1, 2, 3, 4, 5, 6] and k = 2, the output should be [5, 6, 1, 2, 3, 4].

In [53]:
# Write a while loop to find the first number greater than 50 that is divisible by 13. 
# Use a counter to keep track of how many iterations the loop executes. 
# Use the else block to print the number of iterations if the loop ends without finding such a number.

In [54]:
# Write a while loop that keeps asking the user to input a number. 
# If the number is negative, use continue to ask again without processing it. 
# If the number is divisible by 5, print "Divisible by 5" and exit the loop using break. 
# Otherwise, print "Not divisible by 5". 
# Use else to print "No valid input received" if the loop ends without any break.

In [61]:
# i = 0
# while i <20:
#     print(i)
#     i+=1
# else:
#     print('Hello')

In [62]:
# Write a while loop to find the first number greater than 50 that is divisible by 13. 
# Use a counter to keep track of how many iterations the loop executes. 
# Use the else block to print the number of iterations if the loop ends without finding such a number.

In [80]:
i = 51
ct = 0
while i < 10000:
    ct +=1
    if i % 13 == 0:
        print(f'{i} is the first number found after {ct} iterartions.')
        break
    i+=1
else:
    print(f'There is no number which is divisible by 13 after {ct} iterations.')

52 is the first number found after 2 iterartions.

In [81]:
# Write a while loop that keeps asking the user to input a number. 
# If the number is negative, use continue to ask again without processing it. 
# If the number is divisible by 5, print "Divisible by 5" and exit the loop using break. 
# Otherwise, print "Not divisible by 5". 
# Use else to print "No valid input received" if the loop ends without any break.

In [84]:
while True:
    a = int(input())
    if a < 0:
        continue
    elif a % 5 == 0:
        print('Divisible by 5')
        break
    else:
        print('Not Divisible by 5')
else:
    print('No Valid Input')

 3

Not Divisible by 5

 9

Not Divisible by 5

 7

Not Divisible by 5

 -1
 5

Divisible by 5

In [85]:
# Write a while loop that checks numbers starting from 1. If a number divisible by 9 is found, 
# the loop should stop using break. 
# If no number less than 50 is divisible by 9, 
# the loop should execute the else block to print a message saying no such number was found.

In [96]:
i = 1
while i < 51:
    if i % 9 == 0:
        print(i)
        break
    i+=1
else:
    print('No Number was found !!')

9

In [97]:
# Write a while loop that allows the user to input numbers repeatedly to calculate their sum. 
# If the user enters a negative number, skip it using continue. 
# End the loop when the user types "done" and print the total sum. 
# Use the else block to print "No numbers were added" if the sum remains zero.

In [100]:
sm = 0
while True:
    a = input('Please enter a value: ')
    if a.casefold() == 'done':
        print(sm)
        break
    elif int(a) < 0:
        print('Skipping')
        continue
    else:
        sm += int(a)
else:
    print('No Numbers were added !!!')

Please enter a value:  1
Please enter a value:  2
Please enter a value:  3
Please enter a value:  4
Please enter a value:  5
Please enter a value:  done

15

In [102]:
# arnav simar sandeep 29 november

In [105]:
a = [[1,2,3,4]]

# elemtn 2 without indexing

In [107]:
for i in a:
    for j in i:
        if j == 2:
            print(j)
            break

2

In [ ]:
# 1. Let us say your expense for every month are listed below,
# 	1. January -  2200
#  	2. February - 2350
#     3. March - 2600
#     4. April - 2130
#     5. May - 2190
#
# Create a list to store these monthly expenses and using that find out,
#
# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this

exp = [2200,2350,2600,2130,2190]

# 1. In Feb, how many dollars you spent extra compare to January?
print("In feb this much extra was spent compared to jan:",exp[1]-exp[0]) # 150

# 2. Find out your total expense in first quarter (first three months) of the year
print("Expense for first quarter:",exp[0]+exp[1]+exp[2]) # 7150

# 3. Find out if you spent exactly 2000 dollars in any month
print("Did I spent 2000$ in any month? ", 2000 in exp) # False

# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
exp.append(1980)
print("Expenses at the end of June:",exp) # [2200, 2350, 2600, 2130, 2190, 1980]

# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
exp[3] = exp[3] - 200
print("Expenses after 200$ return in April:",exp) # [2200, 2350, 2600, 1930, 2190, 1980]

In [108]:
heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

SyntaxError: unterminated string literal (detected at line 7) (253826004.py, line 7)

In [109]:
heros=['spider man','thor','hulk','iron man','captain america']

In [115]:
# # heros.append('black panther')

# heros.remove('black panther')

In [ ]:
heros.insert(heros.index('hulk') + 1,'Black Panther')

In [117]:
heros[heros.index('thor'):heros.index('hulk')+1] = ['Doctor Strange']

In [118]:
heros

['spider man',
 'Doctor Strange',
 'Black Panther',
 'iron man',
 'captain america']

In [ ]:
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code

In [119]:
# Write a function to rotate an array to the right by k steps. 
# For example, if the input array is [1, 2, 3, 4, 5, 6] and k = 2, the output should be [5, 6, 1, 2, 3, 4].

In [141]:
a = [1,2,3,4,5,6]
def rotate(arr,k):
    if k < len(a):
        cut = a[-k:]
        left = a[:-k]
        cut.extend(left)
        return cut
    else:
        raise Exception(f'Please enter a value less than {len(a)}')

In [142]:
try:
    print(rotate(a,9))
except Exception as e:
    print(e)

Please enter a value less than 6

In [143]:
# Write a program to find all pairs of integers in an array that sum up to a given target.
# Example:
# Input: arr = [1, 2, 3, 4, 5], target = 6
# # Output: [(1, 5), (2, 4)]

In [144]:
arr = [1,2,3,4,5]
k = 6
for i in a:
    for j in a[a.index(i) + 1:]:
        if i + j == k:
            print(i,j)

1 5
2 4