In [1]:
import numpy as np

In [2]:
# int8 -> -127 ~ 127

In [10]:
np.int16(128)

np.int16(128)

In [15]:
# np.array([127, 128], dtype=np.int8)

In [16]:
# int8
2**8

256

In [17]:
# -127 -> 127

In [20]:
np.array([127, 128], dtype=np.int8)

OverflowError: Python integer 128 out of bounds for int8

In [21]:
# array operations

In [22]:
a = np.random.randint(0, 10, 10)
b = np.random.randint(0, 10, 10)

In [25]:
a + b

array([15,  6,  5,  9,  9, 16, 11, 17, 11, 15])

In [31]:
a * b

array([56,  5,  4,  8, 14, 63, 28, 72, 30, 54])

In [34]:
a = np.arange(20).reshape(4, 5)
b = np.arange(20, 40).reshape(4, 5)

In [36]:
b

array([[20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39]])

In [37]:
a + b

array([[20, 22, 24, 26, 28],
       [30, 32, 34, 36, 38],
       [40, 42, 44, 46, 48],
       [50, 52, 54, 56, 58]])

In [39]:
b

array([[20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39]])

In [42]:
# b / a

In [45]:
a**b

array([[                   0,                    1,              4194304,
                 94143178827,      281474976710656],
       [  298023223876953125,  4561031516192243712,  5059972980857283351,
                           0,  5756027422282277481],
       [ 5076944270305263616,  1349464372445695011,                    0,
        -4384162009735594355, -6399284375191552000],
       [-7082734255363670225,                    0,  1322127838466620497,
        -7943720547152560128,  5848337558264975355]])

In [46]:
# relational operations

In [47]:
a = np.random.randint(0, 20, 10)

In [51]:
# boolean indexing
a[a == 11]

array([11])

In [55]:
a[a > 10]

array([15, 11, 17, 12, 12])

In [61]:
a[(a > 10) & (a <= 15)]

array([15, 11, 12, 12])

In [64]:
a = np.arange(0, 40, 2)

In [69]:
a[(a > 6) & (a <= 28)]

array([ 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [71]:
a = np.arange(100).reshape(5, 5, 2, 2)

In [75]:
a[(a > 0) & (a <= 50)]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [83]:
# np.arange(100).reshape(2, 5, 5, 2)

In [84]:
# max/min/sum/prod/axis

In [96]:
np.arange(100).reshape(10, 10).max(axis=0)

array([90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

# Axis in Numpy
axis 0 (Vertical Axis / Row-wise):

    Refers to the first dimension.
    Think of it as operating "down" the rows.
    For example, in a 2D array, axis 0 processes the elements column by column.

axis 1 (Horizontal Axis / Column-wise):

    Refers to the second dimension.
    Think of it as operating "across" the columns.
    For example, in a 2D array, axis 1 processes the elements row by row.

In [112]:
np.arange(100).reshape(10, 10)

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [113]:
# mean

In [131]:
# # Generate synthetic data for 100 persons
# np.random.seed(42)  # For reproducibility

# # Generate random years of experience (between 0 and 30 years)
# years_experience = np.random.randint(0, 31, size=100)

# # Generate salaries based on years of experience (with some noise)
# # Assume a base salary of 20k and an increment of 2k per year of experience
# base_salary = 20000
# increment_per_year = 2000
# noise = np.random.normal(0, 5000, size=100)  # Add random noise to salary
# salaries = base_salary + (increment_per_year * years_experience) + noise

# # Combine the data into a 2D array
# synthetic_data = np.column_stack(
#     (years_experience, salaries)
# )  # Display the first 5 rows of the generated data

In [132]:
# import pandas as pd

# # Generate names for the individuals
# names = [f"Person_{i+1}" for i in range(100)]

# # Create a DataFrame with column names
# columns = ["Years of Experience", "Salary"]
# synthetic_df = pd.DataFrame(synthetic_data, columns=columns, index=names)

# # Display the first 5 rows of the DataFrame
# synthetic_df.head()

In [133]:
# synthetic_df["Salary"].values.mean()

In [134]:
# synthetic_df[synthetic_df.columns[0]].values

In [137]:
a = np.arange(300).reshape(30, 10)

In [142]:
a.std(axis=1)

array([2.87228132, 2.87228132, 2.87228132, 2.87228132, 2.87228132,
       2.87228132, 2.87228132, 2.87228132, 2.87228132, 2.87228132,
       2.87228132, 2.87228132, 2.87228132, 2.87228132, 2.87228132,
       2.87228132, 2.87228132, 2.87228132, 2.87228132, 2.87228132,
       2.87228132, 2.87228132, 2.87228132, 2.87228132, 2.87228132,
       2.87228132, 2.87228132, 2.87228132, 2.87228132, 2.87228132])

In [154]:
a.var(axis=1)

array([8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25,
       8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25,
       8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25, 8.25])

In [157]:
a.shape

(30, 10)

In [166]:
np.arange(100).reshape(10, 10).prod(axis=0)

array([                0,   478015854767451,  1242688846823424,
        2394832584543399,  4060162871525376,  6393838623046875,
        9585618768101376, 13865696119905399, 19511273389031424,
       26853950884211451])

In [180]:
# np.arange(100).reshape(10, 10).cumsum(axis=1) / np.arange(100).reshape(10, 10).shape[
#     1
# ] * 100

In [183]:
# round/floor/ceil

In [192]:
np.round(np.random.random(10), 5)

array([0.49919, 0.572  , 0.76855, 0.0436 , 0.99455, 0.46994, 0.27956,
       0.88349, 0.74772, 0.95307])

In [193]:
# indexing and slicing

In [194]:
a = np.arange(100).reshape(10, 10)

In [202]:
# simple indexing
a[2, 2]

np.int64(22)

In [211]:
a[5, 4]

np.int64(54)

In [216]:
a[0:2, 1:7]

array([[ 1,  2,  3,  4,  5,  6],
       [11, 12, 13, 14, 15, 16]])

In [220]:
a[5, 2:8]
# 52, 53, 54, 55, 56, 57

array([52, 53, 54, 55, 56, 57])

In [224]:
a[-1, 1:3]
# 81, 82

array([91, 92])

In [225]:
a[-3, -8]

np.int64(72)

In [226]:
a[4, 3:8]

array([43, 44, 45, 46, 47])

In [228]:
a[:4, 3:]

array([[ 3,  4,  5,  6,  7,  8,  9],
       [13, 14, 15, 16, 17, 18, 19],
       [23, 24, 25, 26, 27, 28, 29],
       [33, 34, 35, 36, 37, 38, 39]])

In [237]:
a[::2, -6:-4]

array([[ 4,  5],
       [24, 25],
       [44, 45],
       [64, 65],
       [84, 85]])

In [240]:
a[::2, ::2]

array([[ 0,  2,  4,  6,  8],
       [20, 22, 24, 26, 28],
       [40, 42, 44, 46, 48],
       [60, 62, 64, 66, 68],
       [80, 82, 84, 86, 88]])

In [241]:
a = np.arange(100).reshape(10, 5, 2)

In [255]:
a[::2, ::2, 0]

array([[ 0,  4,  8],
       [20, 24, 28],
       [40, 44, 48],
       [60, 64, 68],
       [80, 84, 88]])

In [258]:
# import numpy as np
# import matplotlib.pyplot as plt
# from mpl_toolkits.mplot3d import Axes3D

# # Create a synthetic 4D tensor (e.g., shape: [5, 3, 10, 10])
# np.random.seed(42)
# tensor_4d = np.random.rand(5, 3, 10, 10)


# # Function to visualize a 4D tensor with multiple 3D plots
# def visualize_4d_tensor(tensor, sample_idx=0):
#     """
#     Visualizes a 4D tensor as a series of 3D plots for each channel.

#     Args:
#         tensor (numpy.ndarray): A 4D tensor of shape (samples, channels, height, width).
#         sample_idx (int): Index of the sample to visualize.
#     """
#     if tensor.ndim != 4:
#         raise ValueError("Input tensor must be 4D (samples, channels, height, width).")

#     samples, channels, height, width = tensor.shape
#     if sample_idx >= samples:
#         raise ValueError(f"Sample index out of bounds. Tensor has {samples} samples.")

#     fig = plt.figure(figsize=(15, 5 * channels))
#     for ch in range(channels):
#         ax = fig.add_subplot(channels, 1, ch + 1, projection="3d")

#         # Create meshgrid for plotting
#         X, Y = np.meshgrid(range(width), range(height))
#         Z = tensor[sample_idx, ch, :, :]

#         # 3D surface plot
#         ax.plot_surface(X, Y, Z, cmap="viridis", edgecolor="k")
#         ax.set_title(f"Sample {sample_idx}, Channel {ch + 1}")
#         ax.set_xlabel("Width")
#         ax.set_ylabel("Height")
#         ax.set_zlabel("Value")

#     plt.tight_layout()
#     plt.show()


# # Visualize the first sample in the 4D tensor
# visualize_4d_tensor(tensor_4d, sample_idx=0)

In [267]:
# np.arange(100).reshape(1, 5, 5, 2, 2)